doctype html
html
  head
    title Gesture Testing

    style.
      video,
      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }

  body

    video#webcam

    script(src="js/lib/objectdetect.js")
    script(src="js/lib/objectdetect.eye.js")
    script(src="js/lib/objectdetect.handfist.js")
    script(src="js/lib/objectdetect.handopen.js")

    script(src="js/lib/jquery.js")
    script(src="js/lib/jquery.objectdetect.js")

    script(src="js/base.js")
