doctype html
html
  head
    title Gesture Testing

    style.
      video,
      canvas {
        width: 100vw;
        height: 75vw;
        max-height: 100vh;
        max-width: 133vh;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

  body

    video#webcam

    script(src="js/lib/objectdetect.js")
    script(src="js/lib/objectdetect.eye.js")
    script(src="js/lib/objectdetect.handfist.js")
    script(src="js/lib/objectdetect.handopen.js")
    script(src="js/lib/objectdetect.frontalface.js")

    script(src="js/lib/jquery.js")
    script(src="js/lib/jquery.objectdetect.js")

    script(src="js/classes/VideoFeed.js")
    script(src="js/classes/Overlay.js")
    script(src="js/base.js")
